extends _base

block content
  .container
    +b.main-slider
      +e.H1.title.like-h1 Завод №1 <br>по производству <br>Турбодефлекторов <br>в России
      .owl-carousel
        +e.item(style="background-image: url(image/slide1.jpg)")
        +e.item(style="background-image: url(image/slide1.jpg)")
        +e.item(style="background-image: url(image/slide1.jpg)")
    +b.vantage
      h2.like-h2 Почему 3280 партнеров уже выбрали нас?
      -
        var list = [
          {
            title: "производство",
            text: "Давно выяснено, что при оценке дизайна и компо<wbr>зиции читаемый текст мешает сосредоточиться. ",
            icon: "_production"
          },
          {
            title: "логистика",
            text: "Давно выяснено, что при оценке дизайна и компо<wbr>зиции читаемый текст мешает сосредоточиться.",
            icon: "_car"
          },
          {
            title: "ГАРАНТИЯ",
            text: "Давно выяснено, что при оценке дизайна и компо<wbr>зиции читаемый текст мешает сосредоточиться. ",
            icon: "_guarantee"
          },
          {
            title: "КАЧЕСТВО",
            text: "Давно выяснено, что при оценке дизайна и компо<wbr>зиции читаемый текст мешает сосредоточиться. ",
            icon: "_quality"
          },
          {
            title: "ПОДДЕРЖКА",
            text: "Давно выяснено, что при оценке дизайна и компо<wbr>зиции читаемый текст мешает сосредоточиться. ",
            icon: "_support"
          }
        ];
      +e.list
        each item in list
          +e.item
            +e.inner
              +b.I.icon(class= item.icon)
              +e.title!= item.title
              +e.P.text!= item.text


    +b.production
      h2.like-h2 ПРоизводство
      +e.wrap
        +b.video
          a(href="#")
            +e.text Длительность 1:47
            img(src="image/video.jpg", alt="Видео о компании ООО “Турбодефлектор”")
        +e.data
          p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации
          +e.list-vantage
            +e.item-vantage
              +b.I.icon._orden
              +e.text-vantage Контроль <br>качества
            +e.item-vantage
              +b.I.icon._orden
              +e.text-vantage ИСПЫТАНИЯ
            +e.item-vantage
              +b.I.icon._orden
              +e.text-vantage ГАРАНТИЯ


    +b.command
      h2.like-h2 Команда
      p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение

      +e.IMG.wide(src="image/command.jpg", alt="Команда ООО “Турбодефлектор”")

  
    +b.director
      h2.like-h2 СЛОВА РУКОВОДИТЕЛЯ
      +e.wrap
        +e.IMG.photo(src="image/director.jpg", alt="Директор ООО “Турбодефлектор”")
        +e.data
          p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации
          +e.bottom
            img(src="image/signature.png", alt="")
            +e.name Захаров Михаил
            +e.position Директор ООО “Турбодефлектор”
